
/* here we are styling the body */

body {
    
    font-family: Arial;
    background-color: #777;
    width: 960px;
    font-size: 18px;

}

header {

    background-color: #ebebeb
    text-align: center;
    border: 1px;
    padding: 10px;
    margin: auto;
}

nav {

    background-color: #ebebeb
    border: 
    padding: 

}


section {

    background-color: #ebebeb
    border: 
    padding: 

}

aside {

    background-color: #ebebeb
    border: 
    padding: 


}


footer {

    background-color: #ebebeb
    border: 
    padding: 

}