
* {

    margin: 0;
    padding: 0;
}

body {
    
    font-family: Arial;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

header {

    background: white;
    width: 960px;
    text-align: center;
    padding: 25px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
 
}

nav {

    background: white;
    width: 960px;
    text-align: center;
    padding: 25px;
    margin: auto;
  

}

section {
    display:block;
    background: white;
    text-align: center;
    width: 60%;
    float: left;
    padding: 60px;
    margin: 10px 5px 0 0;
    overflow: hidden;


}

article {

    background:#777;
    width: auto;
    /* float: left; */
    padding: 50px;
    margin: 5px;
    overflow: auto

}


h1 {

    background: white;
    padding: 50px;
    margin:50px;
  
}

p {

    background: white
    
}

aside {
    margin: 10px;
    display:block;
    text-align: center;
    background: white;
    width: 20%;
    /* float: right; */
    padding: 10px;
    overflow: hidden;
    height: 267px;

}

.clear {
    clear: both;
}

footer {

    clear:both;
    background: white;
    width: 960px;
    text-align: center;
    padding: 25px;
    margin: auto;
   
}